h1{
    text-align: center;
    margin-top: 2%;
    max-height: 20%;
}
.main-container{

    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container p{
    color: #ff6b35;
    padding-left: 3%;
    max-height: 5%;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.5%;
}

.logo-img{
    width: 23vw;
    height: 80%;
}

.image-container p{
    font: 500 1.2vw Roboto;
    padding: 0;
    color: #000;
}

.user-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    overflow: auto;
}

.user-container .user{
    padding: 2vh 2vw;
    min-width: 32vw;
    max-height: 25vh;
}

.register{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 5%;
    max-height: 10vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

.register-button{
    padding: 0% 5%;
    margin-right: 2%;
}
