@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html{
    height: 100%;
}

*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
    box-sizing: border-box;
}

h1, h2{
    font-weight: 500;
    font-family: Roboto;
    color: #004e89;
}

button{
    border: none;
    cursor: pointer;
    color: #FFF;
    background-color: #004e89;
    border-radius: 5px;
    font: 500 1.5vw Roboto;
}

button:hover{
    opacity: 0.5;
}